<h1>Editing bookmark</h1>

<% form_for(@bookmark) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label "tags (separated by commas)" %><br />
    <input type="text" id="bookmark_tags"
           name="bookmark_tags" value="<%= @tags.join(",") %>" size="50"/>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bookmark %> |
<%= link_to 'Back', bookmarks_path %>