<%= javascript_include_tag "jquery-1.4.2.min" %>
<%= javascript_include_tag "jquery.autocomplete.min" %>
<%= javascript_include_tag "tag_autocomplete" %>
<%= stylesheet_link_tag "jquery.autocomplete" %>

<h1>New Bookmark</h1>

<% form_for(@bookmark) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
  <p>
    <%= f.label "tags (separated by commas)" %><br />
    <input type="text" id="bookmark_tags" name="bookmark_tags" value="" size="50"/>
  </p>
  </p>
  <p>
    <%= f.submit 'Create', :class => "page_button" %>
  </p>
<% end %>

<%= link_to 'Back', bookmarks_path %>